.DivUl {
    display: flex;
    align-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 90vw;
    height: 50vh;
    justify-content: space-between;
}

.DivLi {
    border: 1px solid black;
    width: 15vw;
    height: 10vh;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    text-align: center;
    padding-top: 6vh;
    margin-bottom: 1vh;
    font-size: 20px;
}

.DivLi:hover {
    background: bisque;
    transition: 0.5s;
    border: none;
    font-weight: bold;
}

.LinkTag {
    color: black;
    text-decoration: none;
}