.DivUl {
    padding-top: 2vh;
    display: flex;
    align-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 90vw;
    height: 25vh;

}

.DivLi {
    border: 1px solid black;
    width: 15vw;
    height: 10vh;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    text-align: center;
    padding-top: 6vh;
    margin-bottom: 1vh;
    font-size: 20px;
}

.PlusBtn {
    width: 10%;
    height: 10%;
}

.PlusBtn::after {
    content: " ";
}

.MinusBtn {
    width: 10%;
    height: 10%;
}

.MinusBtn::before {
    content: " ";
}