.DivUl {
    padding-top: 2vh;
    display: flex;
    align-content: flex-start;
    flex-direction: column;
    margin: 0 auto;
    width: 90vw;
    margin-bottom: 1%;
}

.DivLi {
    width: 40vw;
    height: 10vh;
    text-align: center;
    padding-top: 6vh;
    margin: 0 auto 1vh;
    font-size: 20px;
}

.PlusBtn {
    width: 10%;
    height: 10%;
}

.MinusBtn {
    width: 10%;
    height: 10%;
}

.BtnBox {
    width: 15vw;
    margin: 0 auto;
    text-align: center;
}
