.DivUl {
    display: flex;
    align-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 90vw;
    height: 50vh;
    border: 1px solid #61dafb;
}

.DivLi {
    width: 80%;
    margin: 0.5vh 10%;
    height: 5vh;
}

.DivLi:hover {
    border-bottom: 1px solid plum;
    transition: 0.5s;
}

.ItemName {
    display: inline-block;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    width: 49%;
    height: 100%;
}

.ItemPrice {
    display: inline-block;

    text-align: right;
    font-size: 15px;
    font-weight: bold;
    width: 49%;
    height: 100%;
}