.DivUl {
    display: flex;
    align-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    width: 90vw;
    height: 50vh;
    border: 1px solid #61dafb;
    margin: 0 auto;
}

.DivLi {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 1vh;
}

.DivLi:hover {
    background: beige;
    transition: 0.5s;
}

.BasketUl {
    display: flex;
    flex-direction: row;
}

.BasketLi {
    display: flex;
    flex-direction: column;
    width: 20vw;
}