.Button {
    width: 30vw;
    height: 15vh;
    border: 1px solid red;
    background: red;
    align-items: center;
    position: absolute;
    left: 35vw;
    margin-top: 5vh;
}

.Button:hover {
    background: #61dafb;
    transition: 0.5s;
    border: none;
    cursor: pointer;
}

.Button:hover .Letter {
    color: black;
    transition: 0.5s;
}

.Letter {
    color: white;
    font-size: 100px;
    font-weight: bold;
}

.InputTag {
    margin-right: 1vw;
    text-align: center;
}

