.SumOfPrice {
    margin: 2vh auto 0;
    text-align: right;
    width: 90vw;
    font-size: 20px;
}

.Price {
    display: inline-block;
    font-weight: bold;
}

.Sum {
    font-size: 20px;
    font-weight: bold;
    float: right;
    display: block;
    position: relative;
    margin-bottom: 1vh;
}